@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>This is the about page</p>
    <p>Here my four team members will be shown with their image, name, and designation in card bodies.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/images/aboutus/1.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="MD Rezaul Karim">
            <div class="card-body">
                <h5 class="card-title">MD Rezaul Karim</h5>
                <p class="card-text">Student ID: 2022000010009</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/images/aboutus/2.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="MD Samiul Bin Alam">
            <div class="card-body">
                <h5 class="card-title">MD Samiul Bin Alam</h5>
                <p class="card-text">Student ID: 202200001039</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/images/aboutus/3.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="MD Sadikur Rahman">
            <div class="card-body">
                <h5 class="card-title">MD Sadikur Rahman</h5>
                <p class="card-text">Student ID: 202200001029</p>
            </div>
        </div>
    </div>
</div>
