@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>This is about page</p>
    <p>Here my four team member will show image and name with Designation in card body</p>
</div>