@model LibraryManagementSystem.Models.Book
@{
    ViewData["Title"] = "New Books";
    var books = ViewBag.Book as IEnumerable<LibraryManagementSystem.Models.Book>;
    var categories = ViewBag.Categories as IEnumerable<LibraryManagementSystem.Models.Category>;
}

<div class="container mt-5">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-6">
            @await Html.PartialAsync("_NewBookCreate", Model, ViewData)
        </div>

        <div class="col-md-6">
             @await Html.PartialAsync("_NewBookList", books)
        </div>
    </div>
</div>
